__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.env.save
.coverage
.pytest_cache/
src/config/yandex_token.json
src/config/google_token.pickle
.idea/
.vscode/
.DS_Store

data/*.db
data/*.db-journal

src/config/google_token.pickle
src/config/yandex_token.json
src/config/token.json
src/config/*credentials.json

*.log